.impact,
.impact__liste {
  display: flex;
  flex-direction: column;
  gap: var(--bridges-position-gap-md);
}

.impact__liste {
  gap: var(--bridges-position-gap-sm);
}

.impact__compteur {
  font-size: var(--bridges-size-text-text-size-sm);
  color: var(--bridges-color-text-secondary);
}
