.formulaire,
.criteres {
  display: flex;
  flex-direction: column;
  gap: var(--bridges-position-gap-lg);
}

.formulaire__groupe {
  display: flex;
  flex-direction: column;
  gap: var(--bridges-position-gap-sm);
}

.formulaire__radios,
.criteres__conditions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--bridges-position-gap-md);
}

.formulaire__libelle {
  font-size: var(--bridges-size-text-text-size-sm);
  color: var(--bridges-color-text-primary);
}

.formulaire__aide {
  font-size: var(--bridges-size-text-text-size-xs);
  color: var(--bridges-color-text-secondary);
}

.criteres {
  gap: var(--bridges-position-gap-md);
  align-items: flex-start;
}
